<div class="container-fluid d-md-none">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled d-flex probootstrap-aside-social">
          <!-- <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li> -->
          <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
          <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
        </ul>
        <p>&copy; 2022 Igor&Ana. <br> All Rights Reserved.<!-- Designed by <a href="https://vukojicicdev.me" target="_blank">vukojicicdev.com</a> --></p>
      </div>
    </div>
  </div>
 <style>
  @media only screen and (max-width: 767px) {
  .mobHid{
    display: none;
  }
}
 </style>
  <div class="container-fluid mobHid">
    <div class="row" style="display: flex; justify-content:center; width:100% ; text-align: center;"  >
      <div class="col-md-12"   >
        <ul class="list-unstyled d-flex probootstrap-aside-social" style="display: flex; justify-content:center; width:100% ; text-align: center;">
          <!-- <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li> -->
          <li ><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
          <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
        </ul>
        <p>&copy; 2022 Igor&Ana. <br> All Rights Reserved.<!-- Designed by <a href="https://vukojicicdev.me" target="_blank">vukojicicdev.com</a> --></p>
      </div>
    </div>
  </div>

</main>



<script src="/front/js/jquery-3.2.1.slim.min.js"></script>
<script src="/front/js/popper.min.js"></script>
<script src="/front/js/bootstrap.min.js"></script>
<script src="/front/js/owl.carousel.min.js"></script>
<script src="/front/js/jquery.waypoints.min.js"></script>
<script src="/front/js/imagesloaded.pkgd.min.js"></script>

<script src="/front/js/main.js"></script>

</body>
</html>