<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= q %></title>
    <link rel="icon" type="image/x-icon" href="/images/fav.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Igor&Ana" />
    <meta name="keywords" content="Fotografisanje, vjencanje, slikanje vjencanja" />
    <meta name="author" content="Igor&Ana" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/open-iconic-bootstrap.min.css">
    
    <link rel="stylesheet" href="/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/front/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/front/css/icomoon.css">
    <link rel="stylesheet" href="/front/css/animate.css">
    <link rel="stylesheet" href="/front/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

  </head>
<%- include('header') %> 

    <main role="main" class="probootstrap-main js-probootstrap-main">
      <div class="probootstrap-bar">
        <a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span class="oi oi-menu"></span></a>
        <div class="probootstrap-main-site-logo"><a href="/">Igor&Ana</a></a></div>
      </div>
      <div class="card-columns">
        <% content.images.forEach(img => { %>
          <div class="card">
            <a>
            <img class="card-img-top probootstrap-animate" src="/<%= img %>" alt="Card image cap">
            </a>
          </div>
      <%  }) %> 
      
      
        </div>

<%- include('footer') %> 